* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}

header {
  position: relative;
}
header .header-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .hero-boot-container {
  height: 100vh;
}
header .hero-boot-container .logo {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: bolder;
  top: 0;
  padding: 2rem;
  position: absolute;
}
header .hero-boot-container .boot {
  padding-top: 10rem;
}
header .hero-plastic-line-container {
  background-color: rgb(29, 29, 29);
  padding: 0 2rem 1rem 5rem;
  width: 50%;
  height: 100vh;
  position: relative;
}
header .hero-plastic-line-container a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.2rem;
}
header .hero-plastic-line-container .home-nav {
  color: rgb(225, 252, 79);
}
header .hero-plastic-line-container .nav {
  display: flex;
  justify-content: right;
  position: absolute;
  right: 0;
  padding: 2rem;
}
header .hero-plastic-line-container .hero-plastic-line {
  max-width: 100%;
}
header .hero-plastic-line-container p {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: bolder;
  padding-top: 7rem;
  line-height: 1rem;
}
header .hero-plastic-line-container h1 {
  color: rgb(255, 255, 255);
  font-size: 9rem;
  font-weight: bolder;
}
header .hero-plastic-line-container .btn {
  border: 0.1rem solid rgb(225, 252, 79);
  color: rgb(0, 0, 0);
  background-color: rgb(225, 252, 79);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  padding: 0 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  transform: translateY(2rem);
}

/**Main Content**/
/*CONTENT 1*/
.content-1 {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20rem 3rem;
}
.content-1 .hoodie-model,
.content-1 .boot-modell {
  max-width: 100%;
}
.content-1 .paragraph-container {
  color: rgb(255, 255, 255);
  padding: 0 5rem;
}
.content-1 .paragraph-container .header {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 7rem;
}
.content-1 .paragraph-container .header span {
  font-size: 8rem;
}
.content-1 .paragraph-container .paragraph {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  line-height: 2rem;
}
.content-1 .paragraph-container .btn {
  border: 0.1rem solid rgb(225, 252, 79);
  color: rgb(0, 0, 0);
  background-color: rgb(225, 252, 79);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  padding: 0 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  transform: translateY(2rem);
  width: 20% !important;
  margin-top: 1.5rem;
  position: initial !important;
  transform: initial !important;
}
.content-1 .paragraph-container .btn .txt {
  text-align: center;
}
.content-1 .boot-model {
  position: absolute;
  right: 7rem;
  bottom: 10rem;
}

/*CONTEN 2*/
.content-2 .header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}
.content-2 .header p {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  margin: auto;
  font-weight: bolder;
}
.content-2 .header p span {
  font-size: 10rem;
}
.content-2 .content-2-flx {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(255, 255, 255);
}
.content-2 .content-2-flx img {
  max-width: 100%;
}
.content-2 .content-2-flx .feat {
  display: flex;
  align-items: center;
}
.content-2 .content-2-flx .img-container {
  border: 0.2rem solid rgb(225, 252, 79);
  background-color: rgb(225, 252, 79);
  height: 115vh;
  width: 30%;
  position: relative;
}
.content-2 .content-2-flx .img-container img {
  position: absolute;
  transform: translateY(-10%);
  max-width: 100%;
}
.content-2 .content-2-flx p {
  display: flex;
  flex-direction: column;
}

/*CONTENT 3*/
.content-3 {
  color: rgb(255, 255, 255);
  position: relative;
}
.content-3 .header {
  position: absolute;
  right: 19rem;
  transform: translateY(8rem);
  z-index: 1;
}
.content-3 .header p {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
.content-3 .header p span {
  font-size: 8rem;
}
.content-3 .content-3-flx {
  padding-top: 15rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.content-3 .content-3-flx h2 {
  font-size: 1.5rem;
  line-height: 7rem;
}
.content-3 .content-3-flx p {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  font-size: 1rem;
}
.content-3 .content-3-flx .desc-right {
  padding: 7rem 7rem;
}
.content-3 .content-3-flx .desc-left {
  padding-left: 3rem;
}
.content-3 .content-3-flx .transparent-boot {
  position: absolute;
  right: 28.5rem;
  width: 40%;
  top: 30.5rem;
}

/*CONTENT 4*/
.content-4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(255, 255, 255);
  padding-top: 3rem;
}
.content-4 .edition {
  padding-left: 3rem;
}
.content-4 h1 {
  display: flex;
  flex-direction: column;
  font-size: 9rem;
  line-height: 8rem;
}
.content-4 p {
  font-size: 1.5rem;
  line-height: 5rem;
}
.content-4 img {
  max-width: 90%;
}
.content-4 .btn {
  border: 0.1rem solid rgb(225, 252, 79);
  color: rgb(0, 0, 0);
  background-color: rgb(225, 252, 79);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  padding: 0 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  transform: translateY(2rem);
  position: initial !important;
}

/*CONTENT 5*/
.content-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  padding-top: 12rem;
}
.content-5 .p-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content-5 .p-sl-font {
  font-size: 2rem;
}
.content-5 .p-bg-font {
  font-size: 4rem;
  display: flex;
  flex-direction: column;
}
.content-5 input {
  width: 100%;
  padding: 1.5rem;
  outline: none;
  border: 0.3rem solid rgb(225, 252, 79);
  background-color: inherit;
  margin-top: 2rem;
}
.content-5 input::-moz-placeholder {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}
.content-5 input::placeholder {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}
.content-5 button {
  width: 100%;
  border: 0.3rem solid rgb(225, 252, 79);
  background-color: rgb(225, 252, 79);
  padding: 1rem;
  margin: 0.5rem 0;
}
.content-5 .socials-connect h2 {
  padding: 3rem 3rem;
  font-size: 1;
}
.content-5 .socials {
  display: flex;
  justify-content: space-around;
}
.content-5 .socials a {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin: 0 3rem;
}

/*FOOTER*/
footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 90vh;
  margin-top: 5rem;
  background-image: url(images/footer-box.webp);
  padding: 4rem 0rem;
  color: rgb(255, 255, 255);
}
footer .footer-nav {
  display: flex;
  justify-content: space-around;
}
footer .footer-nav .nav {
  display: flex;
  flex-direction: column;
  margin: 0 5rem;
  color: rgb(255, 255, 255);
}
footer .footer-nav .nav h3 {
  font-size: 1.5rem;
  line-height: 7rem;
}
footer .footer-nav .nav a {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  text-decoration: none;
  line-height: 3rem;
}
footer .footer-logo {
  color: rgb(224, 251, 79);
  font-size: 2rem;
  font-weight: bolder;
  line-height: 7rem;
  padding-bottom: 20rem;
}/*# sourceMappingURL=style.css.map */