$logo-color: rgb(224, 251, 79);
$subscribe-nav: rgb(198, 198, 198);
$text-color: rgb(255, 255, 255);
$button-colr: rgb(225, 252, 79);
$background-color: rgb(0, 0, 0);
$background-color-right: rgb(29, 29, 29);
$border-color: rgb(225, 252, 79);

@mixin displaySpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @mixin displaySpaceAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  @mixin yellow-btn {
    border: 0.1rem solid $button-colr;
    color: rgb(0, 0, 0);
    background-color: $button-colr;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    padding: 0 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    transform: translateY(2rem);
  }
  @mixin arr-container{
      border: 0.2rem solid $background-color;
      background-color: rgba(0, 0, 0);
  }


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  background-color: $background-color;
  font-family: Arial,Helvetica,sans-serif;

}

header {
  position: relative;
  .header-hero {
    @include displaySpaceBetween;
  }
  .hero-boot-container {
    height: 100vh;
    .logo {
      color: $logo-color;
      font-size: 2rem;
      font-weight: bolder;
      top: 0;
      padding: 2rem;
      position: absolute;
    }
    .boot {
      padding-top: 10rem;
      max-width: 100%;
    }
  }
  .hero-plastic-line-container {
    background-color: $background-color-right;
    padding: 0 2rem 1rem 5rem;
    width: 50%;
    height: 100vh;
    position: relative;
    a {
      color: $text-color;
      text-decoration: none;
      padding: 0.5rem;
      font-size: 1.2rem;
    }
    .home-nav {
      color: $button-colr;
    }
    .nav {
      display: flex;
      justify-content: right;
      position: absolute;
      right: 0;
      padding: 2rem ;
    }
    .K8MSra{
        width: 40%;
         height: 50vh;
         object-fit: cover;
         object-position: center center; 
        opacity: 1;
    }

    p {
      color: $text-color;
      font-size: 1.5rem;
      font-weight: bolder;
      padding-top: 7rem;
      line-height: 1rem;
    }
    h1 {
      color: $text-color;
      font-size: 9rem;
      font-weight: bolder;
    }
    .btn {
      @include yellow-btn;
      .arrow-container {
        @include arr-container;
      }
    }
  }

  /*MOBILE HEADER*/
  .top-mobile-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $logo-color;
    padding: 1rem;
    display: none;
  }
  .mobile-logo-left{
    color: $logo-color;
    font-size: 2rem;
    font-weight: bolder;
  }
  .mobile-nav{
    ul{
      font-size: 2rem;
      font-weight: bolder;
      a{
        color: $logo-color;
        text-decoration: none;
      }
    }
  }
  .burger-menu{
    background-color: inherit;
    display: flex;
    align-items: center;
    border: none;

    img{
      max-width: 100%;

    }
    .close-icon{
      display: none;
    }
  }
}


/**Main Content**/
/*CONTENT 1*/
.content-1 {
  position: relative;
  @include displaySpaceAround;
  padding: 20rem 3rem;

  .hoodie-model,
  .boot-modell {
    max-width: 100%;
  }
  .paragraph-container {
    color: $text-color;
    padding: 0 5rem;

    .header {
      display: flex;
      flex-direction: column;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 7rem;

      span {
        font-size: 8rem;
      }
    }
    .paragraph {
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
      line-height: 2rem;
    }
    .btn {
      @include yellow-btn;
      width: 20% !important;
      margin-top: 1.5rem;
      padding: 0.2rem;
      position: initial !important;
      transform: initial !important;
      .txt {
        text-align: center;
      }
      .arrow-container{
        @include arr-container;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        img{
            max-width: 70%;
        }
      }
    }
  }
  .boot-model {
    position: absolute;
    right: 7rem;
    bottom: 10rem;
  }
}
/*CONTENT 2*/
.content-2 {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    p {
      display: flex;
      flex-direction: column;
      color: $text-color;
      font-size: 1.5rem;
      margin: auto;
      font-weight: bolder;
      span {
        font-size: 10rem;
      }
    }
  }
  .content-2-flx {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $text-color;
    img {
      max-width: 100%;
    }
    .feat {
      display: flex;
      align-items: center;

      h2 {
        font-size: 1.5rem;
        line-height: 10rem;
        padding-top: 2.5rem;
      }
    }
    .img-container {
      border: 0.2rem solid $button-colr;
      background-color: $button-colr;
      height: 115vh;
      width: 30%;
      position: relative;
      img {
        position: absolute;
        transform: translateY(-10%);
        max-width: 100%;
      }
    }

    p {
      display: flex;
      flex-direction: column;
      line-height: 1.5rem;
    }
  }
}

/*CONTENT 3*/
.content-3 {
  color: $text-color;
  position: relative;
  .header {
    position: absolute;
    right: 19rem;
    transform: translateY(8rem);
    z-index: 1;
    p {
      display: flex;
      flex-direction: column;
      font-size: 1.5rem;
      span {
        font-size: 8rem;
      }
    }
  }
  .content-3-flx {
    padding-top: 15rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    h2 {
      font-size: 1.5rem;
      line-height: 7rem;
    }
    p {
      display: flex;
      flex-direction: column;
      line-height: 2rem;
      font-size: 1rem;
    }
    .desc-right {
      padding: 7rem 7rem;
    }
    .desc-left {
      padding-left: 3rem;
    }
    .K8MSra{
      width: 78.5%;
      height: 100vh;
       object-fit: cover;
       object-position: center; 
      opacity: 1;
  }
    .transparent-boot {
      position: absolute;
      right: 30rem;
      width: 40%;
      top: 25rem;
    }
  }
}

/*CONTENT 4*/
.content-4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $text-color;
  padding-top: 3rem;

  .edition {
    padding-left: 3rem;
  }
  h1 {
    display: flex;
    flex-direction: column;
    font-size: 9rem;
    line-height: 8rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 5rem;
  }
  img {
    max-width: 90%;
  }
  .btn {
    @include yellow-btn;
    position: initial !important;
    width: 30% !important;
    padding: 0.5rem;
    .arrow-container{
        @include arr-container;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        padding: 0.5rem;
        img{
            max-width: 70%;
        }
      }
  }
}

/*CONTENT 5*/
.content-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $text-color;
  padding-top: 12rem;
  .p-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .arr-down{
        transform: translateY(3rem);
    }
  }
  .p-sl-font {
    font-size: 2rem;
  }
  .p-bg-font {
    font-size: 4rem;
    display: flex;
    flex-direction: column;
  }
  input {
    width: 100%;
    padding: 1.5rem;
    outline: none;
    border: 0.3rem solid $button-colr;
    background-color: inherit;
    margin-top: 2rem;
    cursor: pointer;
    &::placeholder {
      font-size: 1rem;
      color: $text-color;
      
    }
    
    &:hover{
        border-color: $text-color;
        transition: border-color .2s ease-in-out;
    }
  }
  button {
    width: 100%;
    border: 0.3rem solid $button-colr;
    background-color: $button-colr;
    padding: 1rem;
    margin: 0.5rem 0;
    font-weight: bolder;
    font-size: 1.2rem;
    cursor: pointer;

    &:hover{
        background-color: $text-color;
        border-color: $text-color;
        transition: background-color .2s ease-in-out;
    }
  }
  .socials-connect {
    h2 {
      padding: 3rem 3rem;
      font-size: 1;
    }
  }
  .socials {
    display: flex;
    justify-content: space-around;
    a {
      font-size: 2rem;
      color: $text-color;
      margin: 0 3rem;
    }
  }
}

/*FOOTER*/
footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-repeat: no-repeat;
  margin-top: 5rem;
  background-image: url(images/footer-box.webp);
  padding: 4rem 0rem;
  color: $text-color;
  .footer-nav {
    display: flex;
    justify-content: space-around;

    .nav {
      display: flex;
      flex-direction: column;
      margin: 0 5rem;
      color: $text-color;
      h3 {
        font-size: 1.5rem;
        line-height: 7rem;
      }
      a {
        color: $text-color;
        font-size: 1.2rem;
        text-decoration: none;
        line-height: 3rem;
      }
    }
  }
  .footer-logo {
    color: $logo-color;
    font-size: 2rem;
    font-weight: bolder;
    line-height: 7rem;
    padding-bottom: 20rem;
  }
}


@media screen and (max-width:900px) {
    @mixin font{
        font-size: 1rem;
    }
    @mixin header-font{
        font-size: 3rem;
    }
   
    body{
      overflow-x: hidden;
    }
    
  
.header-hero{
    .hero-plastic-line-container{
        width: 100%;
        height: 50vh;
        padding: 0 2rem 0rem 2rem;
        transform: translateY(-50%);
        
        .K8MSra{
            width: 40%;
             height: 20vh;
             object-fit: cover;
             object-position: center center; 
            opacity: 1;
        }
        p{
            padding-top: 1.5rem;
        }
        .btn{
            width: 35% !important;
        }
    }
    

}
    

#mobile-paragraph-font, #feat-desc{
    @include font;
}
#mobile-header-font{
    @include header-font;
}
#feat-header{
    font-size: 1.2rem;
    line-height: 2rem;
}

.content-1{
    padding: 0rem 1rem;
    transform: translateY(-50%);
.paragraph-container{
  padding: 0rem 3rem;
  width: 70%;
    .header{
        line-height: 4rem;
    }
    .btn{
        width: 50% !important;
    }
    .paragraph{
      display: initial;
      
    }
}
    .boot-model{
        right: 0rem;
        bottom: -8.5rem;
        transform: translateX(2.5rem);
        

        .boot-modell{
            width: 50%;
        }
    }
   
}

.content-2{
  .content-2-flx{
    text-align: .5em;
    .img-container{
      
      width: 25%;
      height: 25vh;
    
    }
  }
}
.content-3{
  .header{
transform: translateY(12rem);
  }
.content-3-flx{
  .K8MSra{
    max-width: 100%;
    height: 50vh;
     object-fit: cover;
     object-position: center ; 
    opacity: 1;
  }
  .transparent-boot {
    position: absolute;
    right: 15rem;
    width: 40%;
    top: 20rem;
  }
  h2{
    line-height: 1.5rem;
  }
  .desc-right{
    padding: 3rem 2rem;
  }
  .desc-left{
    padding: 1rem;
  }
}
}

.content-4{
  .edition{
    padding-left: 1rem;
  }
  h1{
    line-height: 2.5rem;
  }
  p{
    line-height: 2rem;
  }
  img{
    max-width: 100%;
  }
  .btn{
    width: 100% !important;
  }
}

}

/*600px for mobile*/
@media screen and (max-width:600px) {
  .header{
    display: flex;
    flex-direction: column;
    .top-mobile-header{
      display: block;
    }
    .nav,.K8MSra{
      display: none;
    }
    .hero-plastic-line-container{
      background-color: $background-color;
    }
 
  }
}